* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;

  nav {
    z-index: 20;
    float: left;
    width: 100%;
    display: flex;
    vertical-align: top;
    top: 0px;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Poppins", sans-serif;

    .logo {
      z-index: 2;
      display: flex;
      color: white;
      text-transform: uppercase;
      letter-spacing: 5px;
      font-size: 12px;
      justify-items: center;
    }

    .logo img {
      height: 20px;
      width: 20px;
      margin-right: 10px;
    }

    .nav-links {
      float: right;
      z-index: 2;
      display: flex;
      align-items: center;
      color: black;
      justify-content: space-around;
      width: 30%;
    }

    .nav-links li {
      list-style: none;
      cursor: pointer;
      img {
        display: none;
      }
    }

    .nav-links a {
      font-size: 12px;
      font-weight: 200;
      position: relative;
      color: white;
      text-decoration: none;
    }

    .nav-links a::after {
      content: "";
      display: block;
      width: 0;
      height: 2px;
      background: white;
      transition: width 0.3s;
    }

    .nav-links a:hover::after {
      width: 100%;
      transition: width 0.3s;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 608px) {
    body {
      overflow-x: hidden;
    }

    .nav-links {
      position: absolute;
      right: 0px;
      height: 50vh;
      top: 8vh;
      display: flex;
      flex-direction: column;
      align-items: left;
      width: 40%;

      li {
        opacity: 0;
        a {
          opacity: 0;
          display: none;
        }
        img {
          display: flex;
          cursor: pointer;
        }
      }
    }
  }

  @media screen and (min-width: 608px) {
    .nav-links {
      width: 60%;

      .nav-links li {
        opacity: 0;
        a {
          opacity: 100;
        }
        img {
          display: list-item;
        }
      }
    }
  }
}

#fullpage {
  .s1 {
    .videowrapper {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    #bgVideo {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1000;
      margin: 0;
      padding: 0;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      object-fit: cover;
    }

    .button {
      font-family: "Poppins", sans-serif;
      z-index: 1;
      box-shadow: black;
      text-decoration: none;
      background-color: #e45;
      text-transform: uppercase;
      bottom: 10%;
      left: 50%;
      position: absolute;
      display: inline-block;
      padding: 0.75rem 1.25rem;
      color: rgb(212, 212, 212);
      text-align: center;
      font-size: 12px;
      letter-spacing: 0px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transform: translate(-50%, -50%);
    }
    .button:before,
    .button:after {
      content: "";
      width: 0%;
      height: 0%;
      position: absolute;
      visibility: hidden;
    }
    .button:hover {
      animation: pulse 1s ease-out 0.2s;
      color: rgb(212, 212, 212);
    }
    .button:hover:before,
    .button:hover:after {
      width: 100%;
      height: 100%;
      visibility: visible;
    }
    .button:hover:before {
      transition: width 0.1s ease, height 0.1s ease 0.1s;
    }
    .button:hover:after {
      transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s,
        visibility 0s 0.2s;
    }

    /*
    .button {
      display: inline-block;
      padding: 0.75rem 1.25rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: absolute;
      overflow: hidden;
      z-index: 1;
      text-decoration: none;
      bottom: 10%;
      left: 50%;
      transform: translate(-49%, -50%);
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e45;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#e45, 15%);
        transition: all 0.3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    } */
  }

  .s2 {
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #da4453;
    background: -webkit-linear-gradient(to right, #89216b, #da4453);
    background: linear-gradient(to right, #89216b, #da4453);
  }
}

#main-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-49%, -50%);
  animation: fill 0.5s ease forwards 4s;
}

#main-title path:nth-child(1) {
  animation: line-anim 2s ease forwards 0.3s;
}

#main-title path:nth-child(2) {
  animation: line-anim 2s ease forwards 0.6s;
}

#main-title path:nth-child(3) {
  animation: line-anim 2s ease forwards 0.9s;
}

#main-title path:nth-child(4) {
  animation: line-anim 2s ease forwards 1.2s;
}

#main-title path:nth-child(5) {
  animation: line-anim 2s ease forwards 1.5s;
}

#main-title path:nth-child(6) {
  animation: line-anim 2s ease forwards 1.8s;
}

#main-title path:nth-child(7) {
  animation: line-anim 2s ease forwards 2.1s;
}

#main-title path:nth-child(8) {
  animation: line-anim 2s ease forwards 2.5s;
}

#main-title path:nth-child(9) {
  animation: line-anim 2s ease forwards 2.8s;
}

#main-title path:nth-child(10) {
  animation: line-anim 2s ease forwards 3.1s;
}

#main-title path:nth-child(11) {
  animation: line-anim 2s ease forwards 3.5s;
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  to {
    box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
  }
}
