* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

body nav {
  z-index: 20;
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  top: 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  font-family: "Poppins", sans-serif;
}

body nav .logo {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  justify-items: center;
}

body nav .logo img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

body nav .nav-links {
  float: right;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 30%;
}

body nav .nav-links li {
  list-style: none;
  cursor: pointer;
}

body nav .nav-links li img {
  display: none;
}

body nav .nav-links a {
  font-size: 12px;
  font-weight: 200;
  position: relative;
  color: white;
  text-decoration: none;
}

body nav .nav-links a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: white;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

body nav .nav-links a:hover::after {
  width: 100%;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media screen and (min-width: 0px) and (max-width: 608px) {
  body body {
    overflow-x: hidden;
  }
  body .nav-links {
    position: absolute;
    right: 0px;
    height: 50vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    width: 40%;
  }
  body .nav-links li {
    opacity: 0;
  }
  body .nav-links li a {
    opacity: 0;
    display: none;
  }
  body .nav-links li img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
}

@media screen and (min-width: 608px) {
  body .nav-links {
    width: 60%;
  }
  body .nav-links .nav-links li {
    opacity: 0;
  }
  body .nav-links .nav-links li a {
    opacity: 100;
  }
  body .nav-links .nav-links li img {
    display: list-item;
  }
}

#fullpage .s1 {
  /*
    .button {
      display: inline-block;
      padding: 0.75rem 1.25rem;
      color: #fff;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 0.15rem;
      transition: all 0.3s;
      position: absolute;
      overflow: hidden;
      z-index: 1;
      text-decoration: none;
      bottom: 10%;
      left: 50%;
      transform: translate(-49%, -50%);
      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #e45;
        z-index: -2;
      }
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: darken(#e45, 15%);
        transition: all 0.3s;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:before {
          width: 100%;
        }
      }
    } */
}

#fullpage .s1 .videowrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#fullpage .s1 #bgVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1000;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

#fullpage .s1 .button {
  font-family: "Poppins", sans-serif;
  z-index: 1;
  -webkit-box-shadow: black;
          box-shadow: black;
  text-decoration: none;
  background-color: #e45;
  text-transform: uppercase;
  bottom: 10%;
  left: 50%;
  position: absolute;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  color: #d4d4d4;
  text-align: center;
  font-size: 12px;
  letter-spacing: 0px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#fullpage .s1 .button:before,
#fullpage .s1 .button:after {
  content: "";
  width: 0%;
  height: 0%;
  position: absolute;
  visibility: hidden;
}

#fullpage .s1 .button:hover {
  -webkit-animation: pulse 1s ease-out 0.2s;
          animation: pulse 1s ease-out 0.2s;
  color: #d4d4d4;
}

#fullpage .s1 .button:hover:before,
#fullpage .s1 .button:hover:after {
  width: 100%;
  height: 100%;
  visibility: visible;
}

#fullpage .s1 .button:hover:before {
  -webkit-transition: width 0.1s ease, height 0.1s ease 0.1s;
  transition: width 0.1s ease, height 0.1s ease 0.1s;
}

#fullpage .s1 .button:hover:after {
  -webkit-transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
  transition: width 0.1s ease 0.2s, height 0.1s ease 0.3s, visibility 0s 0.2s;
}

#fullpage .s2 {
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #da4453;
  background: -webkit-gradient(linear, left top, right top, from(#89216b), to(#da4453));
  background: linear-gradient(to right, #89216b, #da4453);
}

#main-title {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-49%, -50%);
          transform: translate(-49%, -50%);
  -webkit-animation: fill 0.5s ease forwards 4s;
          animation: fill 0.5s ease forwards 4s;
}

#main-title path:nth-child(1) {
  -webkit-animation: line-anim 2s ease forwards 0.3s;
          animation: line-anim 2s ease forwards 0.3s;
}

#main-title path:nth-child(2) {
  -webkit-animation: line-anim 2s ease forwards 0.6s;
          animation: line-anim 2s ease forwards 0.6s;
}

#main-title path:nth-child(3) {
  -webkit-animation: line-anim 2s ease forwards 0.9s;
          animation: line-anim 2s ease forwards 0.9s;
}

#main-title path:nth-child(4) {
  -webkit-animation: line-anim 2s ease forwards 1.2s;
          animation: line-anim 2s ease forwards 1.2s;
}

#main-title path:nth-child(5) {
  -webkit-animation: line-anim 2s ease forwards 1.5s;
          animation: line-anim 2s ease forwards 1.5s;
}

#main-title path:nth-child(6) {
  -webkit-animation: line-anim 2s ease forwards 1.8s;
          animation: line-anim 2s ease forwards 1.8s;
}

#main-title path:nth-child(7) {
  -webkit-animation: line-anim 2s ease forwards 2.1s;
          animation: line-anim 2s ease forwards 2.1s;
}

#main-title path:nth-child(8) {
  -webkit-animation: line-anim 2s ease forwards 2.5s;
          animation: line-anim 2s ease forwards 2.5s;
}

#main-title path:nth-child(9) {
  -webkit-animation: line-anim 2s ease forwards 2.8s;
          animation: line-anim 2s ease forwards 2.8s;
}

#main-title path:nth-child(10) {
  -webkit-animation: line-anim 2s ease forwards 3.1s;
          animation: line-anim 2s ease forwards 3.1s;
}

#main-title path:nth-child(11) {
  -webkit-animation: line-anim 2s ease forwards 3.5s;
          animation: line-anim 2s ease forwards 3.5s;
}

@-webkit-keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  to {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
            box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  to {
    -webkit-box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
            box-shadow: 0 0 0 50px rgba(255, 255, 255, 0);
  }
}
/*# sourceMappingURL=style.css.map */